name: Checks
on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v3
      with:
        version: latest

    - name: Install hatch
      run: uv tool install hatch

    - name: Run tests
      run: hatch test --all

  static-analysis:
    name: Static code analysis
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v3
      with:
        version: latest

    - name: Install hatch
      run: uv tool install hatch

    - name: Run static code analysis
      run: hatch fmt --check
