name: Checks
on:
  push:
    branches:
  pull_request:

permissions:
  contents: read

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        python-version: ${{ matrix.version }}
    - name: Run tests
      run: uvx hatch test

  static-analysis:
    name: Static code analysis
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v7
    - name: Run static code analysis
      run: uvx hatch fmt --check

  type-checking:
    name: Type checking
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checker:
        - mypy
        - pyright
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Run type tests
      run: uvx hatch run ${{ matrix.checker }}:check

  all:
    runs-on: ubuntu-latest
    needs:
    - tests
    - static-analysis
    - type-checking
    steps:
    - run: |
        true
