name: Release
on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      # trusted publishing
      id-token: write
      # creating a release
      contents: write

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        cache: pip
    - name: Install dependencies
      run: pip install build
    - name: Build package
      run: python -m build

    - name: Create release
      env:
        GH_TOKEN: ${{ github.token }}
        tag: ${{ github.ref_name }}
      run: |
        gh release create --generate-notes --title "protobug v${tag}" "${tag}" dist/*

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
